@media only screen and (max-width: 550px) {
    header {
      display: flex;
        flex-direction: column;
      align-items: center;
      justify-content:space-between;
    }
    nav{
        display: flex;
        flex-direction: column;   
        /* background-color: pink;      */
    }
    #nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        width: 100%;
        background-color: aqua;
    }
    #content{

    
    }
  }